@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta Alt Black'), local('Recoleta-Alt-Black'),
        url('RecoletaAlt-Black.woff2') format('woff2'),
        url('RecoletaAlt-Black.woff') format('woff'),
        url('RecoletaAlt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

@font-face {
    font-family: Dreamwood;
    src: url('Dreamwood.ttf') format('truetype');
  }